.content { border: 1px dotted green;}
.content_left{border: 1px dotted red;}


.content_left_img{border: 1px solid black;}
.depositoris{border: 1px solid gray;}

.content_right{border: 1px dotted red;}



.my_know{border: 1px solid #693078;}
.contacts{border: 1px dotted green;}
.contact{border: 1px dotted #568907;}
.network {border: 1px dotted #907;}
.network li {border: 1px solid blue;}
.network li a {border: 1px solid #568657;}
.works{border: 1px solid #576890;}
.works_item_ul{border: 1px solid #545440;}
.works_item_ul li{border: 1px solid #34df40;}



